<%- include('../partials/header') %>
<title>Flight List</title>
<table class="table">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over flights using forEach -->
      <% flights.forEach(function(f) { %>
        <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
    <% }); %>
    </tbody>
    <button><a href="/">Home</a></button>
    <button><a href="/flights/new">Add Flight</a></button>
<%- include('../partials/footer') %>